@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: Inter;
  background-color: #1d1d22;
}
h1 {
  font-weight: 500;
  margin: 20px;
}
.blue {
  color: #347ff7;
}
.red {
  color: #ff0055;
}
.green {
  color: #39c197;
}
.purple {
  color: purple;
}
.gray {
  color: #a7a7a9;
}
.orange {
  color: #fcd031;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animated {
  opacity: 0;
  animation: 0.7s ease-in 0.7s fadein;
  animation-fill-mode: both;
}
